@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #7f00ff;
    --color-secondary: #cb9f49;
    --color-primary-muted: #7e6aff;
    --color-secondary-muted: #f7e9b7;
    --color-light-primary: #ffffff;
    --color-light-secondary: #d4d4d4;
    --color-light-muted: #929292;
    --color-dark-primary: #171717;
    --color-dark-secondary: #333333;
    --color-dark-muted: #888888;
  }
}

hr {
  @apply border-light-secondary dark:border-dark-secondary;
}

li::marker {
  @apply text-[#bbb] dark:text-[#666];
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-light-muted dark:bg-dark-muted;
  }
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  @apply layout bg-[url(../public/static/images/background.png)];
}

.layout {
  @apply mx-auto w-11/12 max-w-screen-sm;
}

h1 {
  @apply mb-2 text-2xl font-medium text-dark-primary dark:text-light-primary;
}

.cursor-link {
  @apply cursor-[url(../public/static/svg/cursors/link.svg),auto];
}

section {
  @apply mb-10 mt-2 space-y-4;
}

.link {
  @apply font-semibold text-dark-primary underline decoration-light-muted decoration-dotted decoration-1 underline-offset-2 transition-all hover:decoration-dark-primary hover:decoration-solid dark:text-light-primary dark:hover:decoration-light-primary;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  @apply animate-fade opacity-0;
}

[data-fade-1],
[data-fade-2],
[data-fade-3],
[data-fade-4] {
  @apply animate-fade-down opacity-0;
}

[data-fade-1] {
  animation-delay: 100ms;
}

[data-fade-2] {
  animation-delay: 200ms;
}

[data-fade-3] {
  animation-delay: 300ms;
}

[data-fade-4] {
  animation-delay: 400ms;
}
